DirectoryIndex .php
#DirectoryIndex /directives/.php

RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

#RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
#RewriteRule ^ /%1 [NC,L,R]

#RewriteCond %{REQUEST_FILENAME}.html -f
#RewriteRule ^ %{REQUEST_URI}.html [NC,L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule (.*) /index/$1 [L]

# Deny access to files with extensions .ini, .psd, .log, .sh
<FilesMatch "\.(ini|gitignore|md)$">
Order allow,deny
Deny from all

</FilesMatch>

Options -Indexes