html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menus {
    margin-top: 100px;
}

#lunch, #middag {
    border: 1px solid black;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    line-height: 150px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

#middag {
    margin-left: 50px;
}

#lunch:hover, #middag:hover {
    border: 1px dotted black;
}

.fa-sun, .fa-moon {
    font-size: 50px;
}

.main p {
    padding: 0;
    margin: 0 auto 0 auto;
    height: 0;
    margin-top: -110px;
}

