html {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;

    /* Disable user select highlight */
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
    margin: 0;
    height: 100%;
}



/*
*
* Header Element Code
*
*/

.header {
    width: 100%;
    height: 80%;
    background-color: rgba(255, 0 , 0,0.5);
}

.header #logo {
    position: relative;
    height: 100%;
    line-height: 100%;
    background-color: white;
    height: calc(100% - 50px);
    font-size: 70px;
    text-align: center;
}

.header #logo span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header #nav {
    background-color: black;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
}

.header #nav div {
    text-decoration: none;
    color: white;
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 50px;
}

.header #nav div:nth-child(1) { grid-column: 2 / 3; } .header #nav div:nth-child(2) { grid-column: 3 / 4; } .header #nav div:nth-child(3) { grid-column: 4 / 5; } .header #nav div:nth-child(4) { grid-column: 5 / 6; }

.header #nav div:hover {
    transition: color 0.1s;
    color: #c59d40;
    cursor: pointer;
}

.header #nav div p {
    width: 50%;
    transition: 700ms;
    border-bottom: 1px solid transparent;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#mat:hover #mat-p {border-color: #c59d40;}#dryck:hover #dryck-p {border-color: #c59d40;}#boka:hover #boka-p {border-color: #c59d40;}#om:hover #om-p {border-color: #c59d40;}



/*
*
* Main Element Code
*
*/

.main {
    background: rgb(250,243,207);
    background: linear-gradient(0deg, rgba(250,243,207,0.8799894957983193) 0%, rgba(250,243,207,0.56) 100%);
    width: 100%;
    height: calc(100% - 225px);
    text-align: center;
}

.main .t1 {
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #c59d40;
    padding-top: 7vh;
}

.main .p1 {
    padding-top: 20px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.main .t2 {
    font-size: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #c59d40;
    padding-top: 4vh;
    text-align: center;
}



/*
*
* Footer Element Code
*
*/

.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 195px;
}

.footer .inf {
    height: 150px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.footer .inf > div {
    width: 100%;
    height: 100%;
}

.footer .inf > div:nth-child(1) { grid-column: 2 / 3; } .footer .inf > div:nth-child(2) { grid-column: 3 / 4; }

.footer .decl {
    height: 30px;
    background-color: rgb(231, 231, 231);
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 15px;
}

