html {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;

    /* Disable user select highlight */
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
    margin: 0;
    height: 100%;
}



/*
*
* Header Element Code
*
*/

.header {
    width: 100%;
    height: 80%;
    background-color: rgba(255, 0 , 0,0.5);
}

.header #logo {
    background-color: white;
    height: calc(100% - 50px);
}

.header #nav {
    background-color: black;
    height: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
}

.header #nav div {
    text-decoration: none;
    color: white;
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 50px;
}

.header #nav div:nth-child(1) { grid-column: 2 / 3; } .header #nav div:nth-child(2) { grid-column: 3 / 4; } .header #nav div:nth-child(3) { grid-column: 4 / 5; }

.header #nav div:hover {
    transition: color 0.1s;
    color: #c59d40;
    cursor: pointer;
}

.header #nav div p {
    width: 50%;
    transition: 700ms;
    border-bottom: 1px solid transparent;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#te:hover #re {border-color: #c59d40;}#me:hover #ee {border-color: #c59d40;}#we:hover #ds {border-color: #c59d40;}



/*
*
* Main Element Code
*
*/

.main {
    background-color: rgba(250, 243, 207, 0.562);
    width: 100%;
    height: calc(100% - 225px);
}

.main .t1 {
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #c59d40;
    padding-top: 7vh;
    text-align: center;
}

.main .p1 {
    padding-top: 20px;
    width: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



/*
*
* Footer Element Code
*
*/

.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
}