

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }

  .button-test {
      width: 100px;
      height: 25px;
      background-color: gray;
      cursor: pointer;
      color: white;
      text-align: center;
      padding-top: 5px;
  }

  a {
      background-color: blue;
      cursor: default;
  }